.sectionNavigation{
    height: 85px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #5C5C5D;
}

.logo {
    background-image: url('../../img/SpaceX-LogoSm.svg_.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 80px;
    width: 200px;
}

.btn {
    border: none;
    background-color: transparent;
    color: #F4F6FA;
    font-size: 2rem;
    font-weight: bold;
    margin: 0 10px;
}
.btnNoActive {
    color: #5C5C5D;
}

@media screen and (min-width: 960px) {
	.sectionNavigation{
        height: 150px;
    }
}